<div class="contaimer mt-5 ml-5 mr-5">
    <div class="card mb-3 text-center hoverable">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <div class="view overlay">
                        <div class="hover07 column">
                            <div> 
                                <figure>
                                    <img src="{{base64Url}}" alt="base64 image"/>
                                </figure>
                                <br>
                            </div>
                        </div>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div id="text" class="col-md-7 text-left ml-3 mt-3">
                    <a href="" class="green-text">
                        <h6 class="font-bold pb-1">
                            <i class="fa fa-code"></i>Base 64 Endoce</h6>
                    </a>
                    <h4 class="mb-3">
                        <strong>Base 64</strong>
                    </h4>
                    <p>When you have some binary data that you want to ship across a network, you generally don't do it by just
                        streaming the bits and bytes over the wire in a raw format.
                        <br>
                        <br>
                        <strong>Why?</strong>
                        <br> Because some media are made for streaming text. You never know -- some protocols may interpret your
                        binary data as control characters (like a modem), or your binary data could be screwed up because
                        the underlying protocol might think that you've entered a special character combination (like how
                        FTP translates line endings). So to get around this, people encode the binary data into characters.
                        Base64 is one of these types of encodings.</p>
                    <p>by
                        <a>
                            <strong>Yanir Ifrah</strong>
                        </a>, 15/06/2018</p>
                    <a class="btn btn-success" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>