<div class="jumbotron text-center mdb-color lighten-2 white-text ">
  <h1 class="card-title h2-responsive mt-2 font-bold">
    <strong>insights regarding this UI interface</strong>
  </h1>
  <div class="d-flex justify-content-center mt-5">
    <blockquote>Just because something looks good doesn’t mean it’s useful. And just because something is useful, does not make it beautiful
      .
    </blockquote>
    <cite>Joshua Brewer</cite>
  </div>
  <hr class=" rgba-white-light">
  <div class="container">
    <div class="row">
      <div id="intro">
        <section class="intro mr-5 ">
        </section>
      </div>
      <div id="accordion">
        <br>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Clean UI
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              The design seems a bit too cluttered. I would suggest looking into how to clean it. There are too many components on one
              page / image. It is very difficult to find yourself in the picture </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                It's all necessary...?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Every graphic element included in the design of the site should be answered to a need. Web design should take into account
              the text, message and audience of that site. It is wise to ask before inserting each element into the design
              of the site "why" is entered. This type of work will prevent the creation of busy web design </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Joshua Brewer </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Just because something looks good doesn’t mean it’s useful. And just because something is useful, does not make it beautiful
              </div>
            </div>
          </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Too many links </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              It is not recommended to use blue as the color for plain text. For years, web designers have had to use the blue defaults
              for links, so most users will recognize the color with a link. For the same reason, it is not recommended to
              use an underline to emphasize text</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Personal preferences </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                For me, I do not really like this interface .. it's too full. choosing the colors of blue with green does not fit well. I like clean design, with clear and spacious lines, each component serving the purpose for which it was created ..
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>