<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" *ngFor="let task of allTasks;let first=first; let i=index" [attr.data-slide-to]="i"
            [ngClass]="{active: first}"></li>
    </ol>
    <div *ngFor="let task of allTasks;let first=first" class="carousel-item" [ngClass]="{active: first}">
        <div class="view">
            <img class="d-block w-100" src="../../../assets/images/5.jpg" alt="First slide">
            <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">{{task.taskName}}</h3>
            <p>{{task.taskType}}</p>
            <p>{{task.description}}</p>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>