<div id="ct">
  <div class="corner " id="left_top"></div>
  <div class="corner" id="left_bottom"></div>
  <div class="corner" id="right_top"></div>
  <div class="corner" id="right_bottom"></div>
  <span>Cities Cards</span>
  <blockquote>
    <p>
      <i>The first 21 cards are the city cards. Under each card there is the state mame and a list of its cities !
        <br>
        <strong>Scroll down</strong> to watch each contact customer individually on his own card. </i>
    </p>
  </blockquote>
</div>