<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Front-End Task</a>
            
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/carousel">Carousel
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/countries">Countries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/base64">Base64</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/uxui">UX / UI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/less">Less</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <router-outlet></router-outlet>
            <footer class="page-footer font-small" >
             
                <div style="background-color: #5f5f5f;">
                    <div class="container">
                        <div class="row py-4 d-flex align-items-center">
                            <div>
                                <h6 class="footerHeader">Get connected with Front-End Developers on social networks!</h6>
                            </div>
                            <div class="col-md-6 col-lg-7 text-center text-md-right">
                                <a class="fb-ic ml-0">
                                    <i class="fa fa-facebook  mr-lg-4"> </i>
                                </a>
                                <a class="tw-ic">
                                    <i class="fa fa-twitter  mr-lg-4"> </i>
                                </a>
                                <a class="gplus-ic">
                                    <i class="fa fa-google-plus  mr-lg-4"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-linkedin  mr-lg-4"> </i>
                                </a>
                                <a class="ins-ic">
                                    <i class="fa fa-instagram  mr-lg-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="container mt-5 mb-4 text-center text-md-left " >
                    <div class="row mt-3" >
                        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                            <h6 class="text-uppercase font-weight-bold">
                                <strong>Front-End Developers</strong>
                            </h6>
                            <hr class=" accent-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>We have the best programmers, the most professional .. Among our clients you will find the largest companies
                                in the market.</p>
                        </div>
            
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase font-weight-bold">
                                <strong>Products</strong>
                            </h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                                <a href="#!">Front-End</a>
                            </p>
                            <p>
                                <a href="#!">Back-End</a>
                            </p>
                            <p>
                                <a href="#!">JavaScript</a>
                            </p>
                            <p>
                                <a href="#!">Angular</a>
                            </p>
                        </div>
            
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase font-weight-bold">
                                <strong>Useful links</strong>
                            </h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                                <a href="#!">Your Account</a>
                            </p>
                            <p>
                                <a href="#!">Become an Front-Enf Developer</a>
                            </p>
                            <p>
                                <a href="#!">Courses</a>
                            </p>
                            <p>
                                <a href="#!">Help</a>
                            </p>
                        </div>
            
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <strong>Contact</strong>
                            </h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                                <i class="fa fa-home mr-3"></i> Gany Tikva, 154 Menahem Begin st, IL</p>
                            <p>
                                <i class="fa fa-envelope mr-3"></i> frontend@frontend.com</p>
                            <p>
                                <i class="fa fa-phone mr-3"></i> + 972 52 234 567</p>
                            <p>
                                <i class="fa fa-print mr-3"></i> + 972 52 234 567</p>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright py-3 text-center">
                    © 2018 Copyright:
                    <a href="#">
                        <strong> FRONTEND.COM</strong>
                    </a>
                </div>
            </footer>
</body>
</html>